body{
    background: white;
}

html{
    font-size: 62.5%;
}

.headdiv1{
    display: flex;justify-content: space-between;
    line-height: 4rem;
}
.heardservicetext{
    font-size: 1rem;
    line-height: 10px;
    color:  #29b078;
    margin-left: 60px;
    margin-top: 15px; margin-bottom: 10px;
    display: flex;
    min-width:150px ;
}

.heardserviceicon{
    margin-left: 5px; margin-right: 5px;
    max-width: 20px; max-height: 20px;
}

.heardserviceicondiv{
    display: flex;
    margin-right: 120px;
    margin-top: 10px; margin-bottom: 10px;
}

.headdiv2{
    background: #29b078;
}

.navbox{
background-color: #29b078;
    color: white;
    margin-bottom: 0; border: 0;
    border-radius: 0;
}

.nava1{
padding: 1.5rem 0 !important;
}

.navpicture{
    width: 7rem; height: 3rem;
    margin-left: 6rem;
}

.navbar-toggle:hover {
    background-color: #29b078 !important;
}

.navword2{
    text-align: center;
    background-color: #29b078!important;
    color: #fff!important;
    border-bottom:0.2rem solid #29b078;
}

.navbar-toggle{
    background:#29b078;
}

.row1{
    padding: 8rem 0 ;
    text-align: center;
}


.mainimgbox1{
    width: 5rem; height: 5rem;
    display: inline-block;
    background-image: url(./img/task8-5.png);
    background-repeat:no-repeat;
}

.mainimgbox2{
    width: 6rem; height: 5rem;
    display: inline-block;
    background-image: url(./img/task8-6.png);
    background-repeat:no-repeat;
}

.mainimgbox3{
    width: 6rem; height: 5rem;
    display: inline-block;
    background-image: url(./img/task8-7.png);
    background-repeat:no-repeat;
}
.mainimgbox4{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    border-left: 0.2rem dashed #dedede;
}

.cc1{
    text-align: left;
}


.mainarea4row1grid1{
    display: flex; justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.maincircle {
    border-radius: 50%;
    border: 0.2rem solid #eeccee;
    background-color: #ffffff;
    width: 2.6rem;
    height: 2.6rem;
    padding:2.6rem;
}

.maincircletext{
    font-size: 1.7rem; font-weight: 700;
    color: #29b078;
    display: flex; justify-content: center;
    align-items: center;
    line-height: 0.5rem;
}

.mainarea4row1grid1img1{
    width: 3rem; height: 4rem;
    background-image: url("./img/task8-9.png");
    background-repeat:no-repeat;
}

.mainarea4row1grid1p {
    color: #999;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 0.5rem;
!important;
}



.mainp{
    padding-bottom: 50px; padding-top: 50px;
    text-align:  center;
    font-weight: 700;
    font-size: 1.5rem;
}

.mainshowbox3 {
    padding: 1rem 1rem;
}


.mainshowbox2 {
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 1.2rem;
    text-align: center;
    background-color: #fff;
    border: 0.2rem solid #eeeded;
}

.mainshowp1 {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.mainshowp2 {
    padding-top: 1rem;
    color: #999;
    font-size: 1.6rem;
    font-weight: 700;
}

.maindotdiv{
    margin-bottom: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.maindot{
    margin-bottom: 0.7rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    width: 0.7rem;
    padding: 0.7rem;
    background-color: #f0f0f0;
    border-radius: 0.7rem;

}

.csbutton{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 50px;

}


.button2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonimg{
    background-image: url("./img/task8-6.png");
    width: 4rem; height: 5rem;
}

.mainbuttonbox{
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
}
.mainbutton1{
    margin: 0;
    border: 0;
    background-color: #fff;
}
.mainbutton2{
    margin: 0;
    border: 0;
    background-color: #fff;
}
.mainbutton3{
    margin: 0;
    border: 0;
    background-color: #fff;
}
.mainbutton4{
    margin: 0;
    border: 0;
    background-color: #fff;
}
.mainbutton5{
    margin: 0;
    border: 0;
    background-color: #fff;
}
.mainbutton1:hover{
    box-shadow:5px 5px 5px #f4f4f4,
    5px -5px 5px #f4f4f4,
    -5px 5px 5px #f4f4f4,
    -5px -5px 5px #f4f4f4;
    position: relative;
    z-index:1;
}
.mainbutton2:hover{
    box-shadow:5px 5px 5px #f4f4f4,
    5px -5px 5px #f4f4f4,
    -5px 5px 5px #f4f4f4,
    -5px -5px 5px #f4f4f4;
    position: relative;
    z-index:1;
}
.mainbutton3:hover{
    box-shadow:5px 5px 5px #f4f4f4,
    5px -5px 5px #f4f4f4,
    -5px 5px 5px #f4f4f4,
    -5px -5px 5px #f4f4f4;
    position: relative;
    z-index:1;
}
.mainbutton4:hover{
    box-shadow:5px 5px 5px #f4f4f4,
    5px -5px 5px #f4f4f4,
    -5px 5px 5px #f4f4f4,
    -5px -5px 5px #f4f4f4;
    position: relative;
    z-index:1;
}
.mainbutton5:hover{
    box-shadow:5px 5px 5px #f4f4f4,
    5px -5px 5px #f4f4f4,
    -5px 5px 5px #f4f4f4,
    -5px -5px 5px #f4f4f4;
    position: relative;
    z-index:1;
}

.aa {
    width: 20rem;
    height: 16rem;
}

.footerdiv{
    background-color: #fff;
    padding-bottom: 1rem;
}

.footerh{
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.footerul{
    display: flex;
    justify-content: space-around;
}
.footerli{
    padding-bottom: 0.2rem;
    margin-bottom: 0.3rem;
    color: #999;
}

.footera{
    color: #999;
}

.footera:hover{
    text-decoration: none;
}

.shezhi1{
    width: 8rem;
    border-bottom: 0.1rem solid #fff;
}


.footbox{
    padding-top: 2rem;
    background-color: #26a26f;


}
.foot1{
    float: left;
    padding-right: 5rem;
}

.foot2{
    float: left;
}
.foot3{
    float: right;
}
.foottitle{
    font-size: 1.6rem;
}
.footcolor{
    font-weight: 700;
    color: #fff;
}
.footair{
    padding:3.4rem;
}
.footnetbox{

    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}
.footnet:hover{
    text-decoration: none;
    color: #fff;
    border-bottom: 0.1rem solid #fff;
}

.bottomp{
    background: #29b078;
    text-align: center;
    font-size: 1rem; font-weight: 100;
    line-height: 2rem;
    color: white;
    margin-bottom: 15px;
    border-top: 2px solid white;
}